<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>

<body>
<div th:fragment="alert" class="container-fluid text-center" id="alert-id">
    <hr></hr>
    <div class="form-group">
        <div onclick="onClickOnAlert()">
            <div th:if="${errors!=null and !errors.empty}" class="alert alert-danger notification">
                <div>
                    <h6 th:each="err : ${errors}" th:text="${err.toString()}">.</h6>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<script>

</script>
</html>


