<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <!-- this is header-css -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/javascript"
              href="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"/>
        <!--<link rel="stylesheet" type="text/css"-->
        <!--href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>-->

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
              integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
              crossorigin="anonymous"/>


        <link rel="stylesheet" th:href="@{/css/main.css}"
              href="/css/main.css"/>

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                crossorigin="anonymous"></script>
    </div>
</head>
<body>

<div th:fragment="header">
    <!-- this is header -->
    <header>




    </header>


</div>

</body>
<script>
   $('.popover').popover('data-content');
   console.log('rre');







</script>

</html>