<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <div th:replace="fragments/header :: header"/>
</head>

<body>
<div th:replace="fragments/sidebar_left :: sidebar_left"/>
<div th:replace="fragments/menu_bar :: menu_bar"/>
<div class="container">

    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <div class="starter-template">
                <h1>Admin page</h1>
                <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
            </div>
        </div>
    </div>

</div>

</body>
</html>