<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<header>
    <title>Registration page - Fidoteam </title>
    <div th:replace="fragments/header :: header-css"/>
    <div th:replace="fragments/header :: header"/>
</header>
<body>

<div th:replace="fragments/sidebar_left :: sidebar_left"/>
<!--<div th:replace="fragments/menu_bar :: menu_bar"/>-->
<div th:replace="fragments/registration :: registration"/>




<script>

    $( "#button-alert" ).click(function() {
     $( "#alert" ).slideUp( 300 ).delay( 800 ).fadeIn( 400 );

});

</script>


<script src="js/check_username.js"/>


</body>
</html>